@import "../../css/global.css";
@import "../../css/nav.css";

#pg{
  color: var(--verde);
}

.modelo3D {
    display: flex;
    justify-content: center;  
    align-items: center;     
    height: 100vh;           
    width: 100vw;             
    border: 0;                
}

.hotspot {
    background: rgba(0, 123, 255, 0.8);
    border: none;
    border-radius: 50%;
    color: #fff;
    font-size: 1.rem;
    cursor: pointer;
    padding: .6rem;
    transition: transform 0.2s;
  }
  
  .hotspot:hover {
    transform: scale(1.2);
    background: rgba(0, 123, 255, 1);
  }
  
  .side-panel {
    position: fixed;
    top: 0;
    right: -40rem; 
    width: 40rem;
    height: 100%;
    background: #11111F;
    color: white;
    box-shadow: -.2rem 0 1rem rgba(0,0,0,0.5);
    transition: right 0.3s ease-in-out;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    z-index: 999;
    overflow-y: auto; 
  }
  
  .side-panel.active {
    right: 0;
  }
  
  .close-btn {
    align-self: flex-end;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
  }
  
  .panel-content {
    margin-top: 2rem;
    font-size: 1.6rem;
    line-height: 1.4;
  }
  .intro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 6rem 10rem;
  }
  
  .intro img {
    width: 35rem;
    padding-right: 8rem;
  }
  
  .intro-texto h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: var(--branco);
  }
  
  .intro-texto p {
    font-family: 'TT Drugs Trial', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    max-width: 50rem;
  }