@import "./css/nav.css";
@import "./css/global.css";

.inicio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*max-width: 90rem;*/
  margin: 6rem auto;
  padding: 0 4rem;
}

.inicio img {
  /*max-width: 50%;*/
  padding-right: 5rem;/* img */
  justify-content: end;
  height: 70rem;
  width: 70rem;
}

.texto {
  flex: 1;
  padding-left: 20rem;
}

.texto h1 {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.texto p {
  font-size: 1.5rem;
  color: #ccc;
  margin-bottom: 2.5rem;
}

.texto .button {
  background-color: var(--home);
  color: var(--fundo);
  border: none;
  padding: 1.4rem 2.5rem;
  border-radius: .8rem;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s;
}

.texto .button:hover {
  background-color: var(--verde);
}

.membros-section {
  text-align: center;
  margin-top: 25rem;
  padding: 0 4rem;
}

.membros-section h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 5rem;
}

.membros-container {
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}

.membros {
  text-align: center;
}

.membros img {
  width: 15rem;
  height: 15rem;
  border-radius: 2rem;
  object-fit: cover;
  border: .2rem solid var(--verde);
  transition: transform 0.3s;
}

.membros img:hover {
  transform: scale(1.05);
}

.membros p {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.membros span {
  font-size: 0.95rem;
  color: var(--branco);
}

.membros-section a {
  text-decoration: none;
  color: var(--branco);
}