@import "/frontend/css/global.css";
@import "/frontend/css/nav.css";

#pg {
    color: var(--verde);
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 5rem 2rem;
}

.robogame img {
    width: 55rem;
}

.minigame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 30rem;
}

.minigame h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: var(--branco);
}

.minigame p {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    color: var(--branco);
}

.minigame .botao-jogar {
    text-decoration: none;
    font-size: 1.6rem;
    background: var(--home);
    color: var(--branco);
    padding: 1rem 3rem;
    border-radius: 2rem;
    font-weight: bold;
    transition: 0.3s;
    text-transform: uppercase;
}

.minigame .botao-jogar:hover {
    background-color: var(--verde);
    color: var(--fundo);
}
