@import "/css/global.css";
@import "/css/nav.css";

.modelo3D {
    display: flex;
    justify-content: center;  
    align-items: center;     
    height: 100vh;           
    width: 100vw;             
    border: 0;                
}

.hotspot {
    background: rgba(0, 123, 255, 0.8);
    border: none;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    padding: 6px;
    transition: transform 0.2s;
  }
  
  .hotspot:hover {
    transform: scale(1.2);
    background: rgba(0, 123, 255, 1);
  }
  