@import "/css/global.css";
@import "/css/nav.css";

#pg {
  color: var(--verde);
}

.resistoresELeds {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 10rem;
  gap: 6rem;
}

.resistoresELeds .text {
  max-width: 55rem;
}

.resistoresELeds h1 {
  font-family: 'Lemon/Milk', sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 2rem;
  color: #fff;
}

.resistoresELeds p {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #ccc;
}

.resistoresELeds img {
  width: 35rem;
}

.led {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--verde);
  border-radius: 1rem;
  padding: 3rem;
  margin: 5rem 10rem;
  gap: 2rem;
}

.led h2 {
  font-family: 'Lemon/Milk', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--fundo);
}

.led p {
  font-size: 1.5rem;
  line-height: 1.6;
  color: var(--fundo);
}

.led img {
  width: 28rem;
  border-radius: .6rem;
}

.arduino {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--verde);
  border-radius: 1rem;
  padding: 3rem;
  margin: 5rem 10rem;
  gap: 2rem;
}

.arduino h2 {
  font-family: 'Lemon/Milk', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--fundo);
}

.arduino h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: var(--fundo);
}

.arduino p {
  font-size: 1.5rem;
  line-height: 1.6;
  color: var(--fundo);
}

.arduino img {
  width: 14rem;
}

.resistor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--verde);
  border-radius: 1rem;
  padding: 3rem;
  margin: 5rem 10rem;
  gap: 2rem;
}

.resistor h2 {
  font-family: 'Lemon/Milk', sans-serif;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--fundo);
}

.resistor p {
  font-size: 1.5rem;
  line-height: 1.6;
  max-width: 50rem;
  color: var(--fundo);
}

.resistor img {
  width: 20rem;
}
